{% extends "index.html" %}

{% block content %}
<div class="bd-example">
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/static/images/laptop_2.jpg" class="d-block w-100">
            </div>
            <div class="carousel-item">
                <img src="/static/images/laptop_3.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/static/images/laptop_1.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
    </div>
</div>

<div class="jumbotron custom-jumbotron header-rounded-bottom">
    <h1>Welcome</h1>
    <p class="card-text">This UI is built to demonstrate personal ability in developing applications for multiple purposes, please browse the various pages</p>
    <hr class="my-4">
    <h5>Technologies serving this application</h5>
    <span class="badge badge-pill badge-dark">Python</span>
    <span class="badge badge-pill badge-dark">Kubernetes</span>
    <span class="badge badge-pill badge-dark">CSS</span>
    <span class="badge badge-pill badge-dark">HTML</span>
    <span class="badge badge-pill badge-dark">Bootstrap</span>
    <span class="badge badge-pill badge-dark">JavaScript</span>
    <span class="badge badge-pill badge-dark">Google Cloud Platform</span>
    <span class="badge badge-pill badge-dark">Docker</span>
    <span class="badge badge-pill badge-dark">amCharts</span>
</div>
{% endblock content %}