{% extends "index.html" %}

{% block content %}
<h1>Contact</h1>
<hr>

<div class="card" style="clear: both;">
    <div class="card-header">Leave me a message</div>
    <div class="card-body">
        <form method="POST" class="was-validated">
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label for="validationServer01">First name</label>
                    <input name="forename" type="text" class="form-control is-valid" id="validationServer01" required>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="validationServer02">Last name</label>
                    <input name="surname" type="text" class="form-control is-valid" id="validationServer02" required>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="validationServer03">Email</label>
                    <input name="email" type="text" class="form-control is-valid" id="validationServer03" required>
                </div>
            </div>
            <div class="mb-3">
                <label for="validationSubject">Subject</label>
                <input name="subject" type="text" id="validationSubject" class="form-control is-valid" required>
            </div>
            <div class="mb-3">
                <label for="validationTextarea">Message</label>
                <textarea name="message" class="form-control is-invalid" id="validationTextarea" required></textarea>
            </div>
            <button class="btn btn-primary bg-dark" type="submit">Submit</button>
        </form>
    </div>
</div>
{% endblock content %}