<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <!-- Font-Awesome CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">

    <title>UI</title>
    <link rel='shortcut icon' sizes="16x16" href="{{ url_for('static', filename='images/favicon.ico' )}}">
  </head>
  <body>
    <!-- Navigation -->
    {% include "nav.html" %}
    <!-- Navigation end -->

    <!-- Content -->
    <div class="container-fluid">
        {% block content %}{% endblock %}
    </div>
    <!-- Content end -->

    <!-- Javascript - Personal -->
    <script type="text/javascript" src="/static/js/global.js"></script>
    <!-- JavaScript - Bootstrap -->
    <script type="text/javascript" src="/static/js/jquery-3.3.1.slim.min.js"></script>
    <script type="text/javascript" src="/static/js/popper.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
  </body>
</html>