<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ url_for('index') }}">UI</a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Portfolio
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{{ url_for('portfolio_live') }}">Live</a>
                    <a class="dropdown-item" href="{{ url_for('portfolio_historical_prices') }}">Historical Prices</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('contact') }}">Contact</a>
            </li>
        </ul>
    </div>
</nav>